<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['..']" style="color:#00abff;">用户管理</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    添加用户
  </nz-breadcrumb-item>
</nz-breadcrumb>

<form nz-form #form="ngForm" class="form-container">
<nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">用户名</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24">
    <input nz-input id="username" name="username" [(ngModel)]="username" required/>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
    <input
      nz-input
      id="password"
      type="password"
      name="password"
      [(ngModel)]="password"
      required
    />
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="role" nzRequired>角色</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24">
    <input
      nz-input
      id="role"
      name="role"
      [(ngModel)]="role"
      required
    />
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="group" nzRequired>组</nz-form-label>
  <nz-form-control [nzSm]="14" [nzXs]="24">
    <input
      nz-input
      id="group"
      name="group"
      [(ngModel)]="group"
      required
    />
  </nz-form-control>
</nz-form-item>

<nz-form-item nz-row class="register-area">
  <nz-form-control [nzSpan]="14" [nzOffset]="6" style="text-align:center;">
    <button nz-button nzType="primary" [disabled]="form.invalid"
      style="margin-right:20px;" (click)="confirm()">添加</button>
    <button nz-button nzType="primary" (click)="cancel()">取消</button>
  </nz-form-control>
</nz-form-item>
</form>
