<div class="login-container">
  <form nz-form class="login-form" #form="ngForm">
      <nz-form-item>
          <nz-form-control>
            <div class="login-title">登录</div>
          </nz-form-control>
        </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input [(ngModel)]="username" name="username"
          placeholder="Username" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input [(ngModel)]="password" name="password"
            placeholder="Password" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'"
        [disabled]="form.invalid" (click)="login()">Log in</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
