<div nz-row>
    <div nz-col [nzSpan]="8">
        <div echarts [options]="option" class="demo-chart"></div>
    </div>
    <div nz-col [nzSpan]="16">
      <div nz-row style="margin-top:100px;">
          <ng-container *ngFor="let item of supervisonList">
              <div nz-col [nzSpan]="8">
                <div class="supervision-item">
                    <span class="icon-position">
                        <i nz-icon [nzType]="item.iconType"></i>
                    </span>
                    <span class="item-des">{{item.des}}</span>
                </div>
              </div>
          </ng-container>
      </div>
    </div>
  </div>
